/*COLOR*/
$primary-color : #00ffff;
$secondary-color: #34495e;
$btn-color: blue;
$btn-hover: #d35400;
$font-color: #333;
/*FONT FAMILY*/
$font: 'Zen Loop', cursive;
$heading-font: 'Festive', cursive;

/*SIZE*/
$width: 1200px;
$header_size:80px;
$banner_size:500px ;
$footer_size:250px; 

/*PADDING*/
$padding: 20px 40px;