.banner{
    background-image: url("img/oxyzen_Bank_kaarigar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: $banner_size;
    background-color: $font-color;
}