main{
    padding:$padding;
    h2{
        text-align: center;
    }
    .service-box{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        padding: 20px 0;
        .service-items{
            flex-basis: 330px;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #ddd;
            h3{
                font-size: 20px;
                text-transform: capitalize;
                text-align: center;
            }
            p{
                padding: 20px 0;
                text-align: center;
            }
            a{
                text-align: center;
                display: inline-block;
                text-decoration: none;
                border: 1px solid $btn-color;
                padding: 10px 25px;
                background-color: $btn-color;
                color:#fff;
                text-transform: capitalize;
                &:hover{
                    background-color: $btn-hover;
                    border-color: $btn-hover;
                }
            }
        } 
    }
}
